.tracks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.track {
    border-radius: 5px;
    border: 1px solid blue;
    padding: 10px;
}

.track.selected {
    border-color: red;
}